
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>WHACK</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    
    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <script type="text/javascript">

      var socket = io.connect('http://' + document.domain + ':' + location.port);        
        var form;
        var allUsers;
        var board = [[]];
        var N;

        $(window).on("beforeunload", function(evt) {
            evt.preventDefault();
            socket.close();
        });

        document.addEventListener('keydown', function(event) {
            if(event.keyCode == 37) {
                //left
                alert('Left was pressed');
            }
            else if (event.keyCode == 38) {
                //up
                alert("hello1")
            }
            else if(event.keyCode == 39) {
                //right
                alert('Right was pressed');
            }
            else if(event.keyCode == 40) {
                //down
                alert ("hello2")
            }
        });

        function mapColor(type) {
            if (type == "Blank") {
                return "#ff66ff"
            }
        }

        

        function draw(tile) {
            let cvs = document.getElementsByClassName("gameCanvas")[0]
            console.log(cvs)
            let ctx = cvs.getContext("2d");
            ctx.fillStyle = mapColor(tile.Type)
            console.log(tile.X, tile.Y)
            //console.log("hello frmo draw", cvs.offsetWidth)
            ctx.fillRect(tile.X * 5, tile.Y * 5, 5, 5)
        }

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )


        form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          socket.emit( 'newUser', {
            user_name : user_name,
          } )
          $( 'input.message' ).val( '' ).focus()
        } )

        form.addClass("usernameThing")

      } )

        socket.on('newUserBroadcast', function(users) {
            allUsers = users;
            console.log(allUsers)
        })

        socket.on('changeContext' , function(payload) {

            N = payload[0]

            for (let i = 0; i < payload[0]; i++) {
                board[i] = [];
                for (let j = 0; j < payload[0]; j++) {
                    board[i][j] = payload[N * i + j + 1]
                }

            }

            console.log("N:", N)
            console.log("board:", board)
            
            $('.usernameThing').remove();
 
            let gameCanvas = '<canvas width="500" height="500" class="gameCanvas"></canvas>';
            let gameScore = '<div class="gameScore">This is the gameScore</canvas>'

            $('body').append(gameCanvas).append(gameScore);

            draw(board[0][0])
            draw(board[23][67])
            draw(board[86][89])
            draw(board[99][99])
        })

      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

  </body>
  </html>