
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>WHACK</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    
    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <script type="text/javascript">

      var socket = io.connect('http://' + document.domain + ':' + location.port);        
        var form;
        var allUsers;
        var board = [[]];
        var N;

        function draw(tile) {
            console.log("hlelo from draw", tile)
        }

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )


        form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          socket.emit( 'newUser', {
            user_name : user_name,
          } )
          $( 'input.message' ).val( '' ).focus()
        } )

        form.addClass("usernameThing")

      } )

        socket.on('newUserBroadcast', function(users) {
            allUsers = users;
            console.log(allUsers)
        })

        socket.on('changeContext' , function(payload) {

            N = payload[0]

            for (let i = 0; i < payload[0]; i++) {
                board[i] = [];
                for (let j = 0; j < payload[0]; j++) {
                    board[i][j] = payload[N * i + j] + 1
                }

            }

            draw(board[0][0])

            console.log("N:", N)
            console.log("board:", board)
            
            $('.usernameThing').remove();
 
            let gameCanvas = '<canvas class="gameCanvas"></canvas>';
            let gameScore = '<div class="gameScore">This is the gameScore</canvas>'

            $('body').append(gameCanvas).append(gameScore);
        })

      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

  </body>
  </html>